.error{
    background: red !important;
    margin-top: 5rem !important;
    input{
        color: #fff !important;
        &::placeholder{
            color: #fff !important;
        }
    }
    svg{
        fill: #fff !important;
        stroke: #fff !important;
    }
}

.error_popup{
    position: absolute;
    top: -70px;
    background: #ed4337;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 14px;
    //padding: 10px;
    span{
        position: absolute;
        bottom: -10px;
        left: 1rem;
        border-top: 10px solid #ed4337;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;

    }
}